<!DOCTYPE html>
<html>
  <head>
    <title>Realtime Check-ins</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>
    
    <%= yield %>

    <%= render partial: 'shared/footer' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'main' %>

    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAqx-ELY1bXtbYkArAdXsF67yVsjrDJbkg&callback=gmapsLoaded" async defer></script>
  </body>
</html>





    
